<% include header %>
<main id="main">
<div id="sidebar">
    <form id="filters">
        <label class="container" onclick="FilterCheck()">Urinoir
          <input id="urinoir" type="checkbox" name="urinoir" value="Urinoir" checked>
          <span class="checkmark"></span>
        </label> 
        <br>
        <label class="container" onclick="FilterCheck()">Enkel gratis
          <input id="gratis" type="checkbox" name="gratis" value="Gratis">
          <span class="checkmark"></span>
        </label> 
        <br>
        <label class="container" onclick="FilterCheck()">Luiertafel
          <input id="luiertafel" type="checkbox" name="luiertafel" value="Luiertafel">
          <span class="checkmark"></span>
        </label> 
        <br>
        <label class="container" onclick="FilterCheck()">Integraal toegankelijk
          <input id="integraal" type="checkbox" name="integraalToegankelijk" value="Integraal toegankelijk">
          <span class="checkmark"></span>
        </label>
        <br>
    </form> 
</div>
<div id="mapid"></div>
</main>

<script>
var slider = document.getElementById("myRange");
var output = document.getElementById("demo");
output.innerHTML = slider.value;
var sliderComma = 
slider.oninput = function() {
  var sliderInput = this.value / 10;
  output.innerHTML =  sliderInput;
}

function FilterCheck() {
    if (document.getElementById("gratis").checked == false && document.getElementById("urinoir").checked == true && document.getElementById("luiertafel").checked == false && document.getElementById("integraal").checked == false) {
        FilterChange(1);
    }
    else if (document.getElementById("gratis").checked == false && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == true && document.getElementById("integraal").checked == false)  {
        FilterChange(2);
    }
    else if (document.getElementById("gratis").checked == false && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == true && document.getElementById("integraal").checked == true) {
        FilterChange(3);
    }
    else if (document.getElementById("gratis").checked == false && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == false && document.getElementById("integraal").checked == true)  {
        FilterChange(4);
    }
    else if (document.getElementById("gratis").checked == false && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == false && document.getElementById("integraal").checked == false) {
        FilterChange(5);
    }
    else if (document.getElementById("gratis").checked == true && document.getElementById("urinoir").checked == true && document.getElementById("luiertafel").checked == false && document.getElementById("integraal").checked == false) {
        FilterChange(6);
    }
    else if (document.getElementById("gratis").checked == true && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == true && document.getElementById("integraal").checked == false)  {
        FilterChange(7);
    }
    else if (document.getElementById("gratis").checked == true && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == true && document.getElementById("integraal").checked == true) {
        FilterChange(8);
    }
    else if (document.getElementById("gratis").checked == true && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == false && document.getElementById("integraal").checked == (true))  {
        FilterChange(9);
    }
    else if (document.getElementById("gratis").checked == true && document.getElementById("urinoir").checked == false && document.getElementById("luiertafel").checked == false && document.getElementById("integraal").checked == false) {
        FilterChange(10);
    }
    //Extra opties (urinoirs met luiertafels)
    else if (document.getElementById("gratis").checked == false && document.getElementById("urinoir").checked == true && document.getElementById("luiertafel").checked == true && document.getElementById("integraal").checked == false)  {
        FilterChange(11);
    }
    else if (document.getElementById("gratis").checked == true && document.getElementById("urinoir").checked == true && document.getElementById("luiertafel").checked == true && document.getElementById("integraal").checked == false)  {
        FilterChange(12);
    }
    //Geen enkele marker gevonden
    else {
        FilterChange(13);
    };
};

</script>

<% include footer %>