   <nav>
    <a id="hamburger" href="#" onclick="Sidebar()">
        
    </a>
    <a href="#">
        
    </a>
    <a href="#">
        
    </a>
</nav>

<script>
    var sidebarOpen = false;
    
    function Sidebar() {
        if (sidebarOpen == false) {
        document.getElementById('main').style.gridTemplateRows = '1fr 4fr';
        document.getElementById('hamburger').style.backgroundImage = 'url(../icons/cross.png)';
        sidebarOpen = true;
            document.getElementById('filters').style.display = "block";
        }
        else {
        document.getElementById('main').style.gridTemplateRows = '0fr 4fr';
        document.getElementById('hamburger').style.backgroundImage = 'url(../icons/Hamburger_icon.svg.png)';
        sidebarOpen = false;
            document.getElementById('filters').style.display = "none";
        }
    };
    
</script>