html {
    padding: 0px;
}

body {
    background-color: white;
    margin: 0px;
}

nav {
    background-color: white;
    width: 100vw;
    height: 10vh;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1.5fr 1fr 1.5fr 1fr 0.5fr;
}

nav a {
    height: 64.5px;
    width: 90px;
    margin-top: 2vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#hamburger {
    grid-column: 2;
    background-image: url(../icons/hamburger%20icon.png);
    width: 50px;
    margin: auto;
}

nav a:nth-child(2) {
    grid-column: 4;
    background-image: url(../icons/logo%20voorlopig.png);
    width: 60px;
    margin: auto;
}

nav a:nth-child(3) {
    grid-column: 6;
    background-image: url(../icons/mapmarker.png);
    width: 25px;
    margin: auto;
}

#main {
    display: grid;
    grid-template-columns: 0fr 1fr;
}

#main #sidebar {
    z-index: 1;
    width: 100%;
}

#filters {
    display: none;
    font-size: 18px;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

#mapid {
    height: 85vh;
    z-index: 1;
    width: 100%;
}

footer{
  padding-top: 1vh;
  text-align: center;
  font-size: 12px;
}
